html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.15;
  color: #FFFFFF;
  text-align: left;
  background-color: transparent;
  font-family: 'Avenir Next LT Pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 25px;
  margin-bottom: 24px;
}

h2 {
  font-size: 17px !important;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
  color: white;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 700;
  src:
    url('https://presalesaplab.github.io/MADE/AvenirNextLTPro/AvenirNextLTPro.ttf') format('truetype');
}

body {
  padding-top: 100px;
  background-image: url(https://presalesaplab.github.io/MADE/Custom-IAS-homepage/made.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.ids-input-group--login {
  margin: 0;
}

.ids-login-container {
  margin: 0px auto;
  width: 100%;
  background: #FFFFFF;
  padding: 30px 30px 0px 30px;
}

.ids-login-sp {
  all: unset;
}

.ids-footer {
  display: none;
}

.ids-main {
  background-color: transparent !important;
}

.ids-main__content {
  padding-top: 0;
}

#forgotPasswordLink {
  color: white;
  font-size: 15px;
  display: none;
}

#j_username, #j_password {
  font-size: 14px;
  content: 'User';
}

#test-service-provider-name {
  font-size: 20px;
}

.ids-login-login--border {
  border: none;
}

.ids-button-group {
  padding: 0 !important;
  background: #003F6E;
}

.ids-label {
  color: #003F6E;
}

.ids-label-container {
  height: 20px;
  line-height: 30px;
  color: #003F6E;
  padding: 0px 20px 0px 1px;
  margin: 0px 0px 10px;
}

.ids-heading-1--login, .ids-heading-1 {
  font-size: 22px;
  color: #FFFFFF;
}

::-webkit-input-placeholder {
  color: transparent;
}
::-moz-placeholder {
  color: transparent;
}
:-ms-input-placeholder {
  color: transparent;
}

[data-page="ids-login/logon"] .ids-heading-1--login {
  display: none;
}

button#logOnFormSubmit, button#test-submit-button, button#sapStoreRegisterFormSubmit {
  border-radius: 0;
  text-transform: uppercase;
  background: #003F6E;
  width: 100%;
  border: 0;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 700;
  font-family: 'Avenir Next LT Pro';
}

button#logOnFormSubmit:hover,
button#logOnFormSubmit:active,
button#logOnFormSubmit:focus,
button#test-submit-button:hover,
button#test-submit-button:active,
button#test-submit-button:focus,
button#sapStoreRegisterFormSubmit:hover,
button#sapStoreRegisterFormSubmit:active,
button#sapStoreRegisterFormSubmit:focus {
  background: #2596be;
}

button#logOnFormSubmit:hover,
button#logOnFormSubmit:active,
button#logOnFormSubmit:focus {
  width: 100%;
}

.ids-input {
  padding: 15px !important;
  background: #F5F5F5;
  padding: 3px 3px 3px 12px;
}

.ids-button-group, .ids-login-login{
  width: 100%;
}

.ids-button-group--centered .ids-button {
  float: left;
}

label#rememberme-label {
  color: #003F6E;
}

button#rememberme:hover,
button#rememberme:active,
button#rememberme:checked,
button#rememberme:valid,
button#rememberme:enabled,
button#rememberme:empty,
button#rememberme:focus {
  background: #2596be;
}

li.ids-input-group__item {
  text-align: left;
  letter-spacing: initial;
}

.ids-control-container textarea, 
.ids-control-container input[type="text"], 
.ids-control-container input[type="password"], 
.ids-control-container input[type="email"], 
.ids-control-container input[type="tel"], 
.ids-control-container select {
  border-radius: 0px;
  border: none;
  height: 45px;
  font-family: inherit;
}

.ids-control-container {

}

.ids-button {
  font-weight: normal;
}

.ids-login-section {
  padding: 0;
}

.ids-login-section li {
  margin: 20px 0 0 0;
}

.ids-login__forgotpassword {
  font-size: 14px;
  letter-spacing: 0;
  display: none;
}

.ids-login-login--border {
  padding-left: 0 !important;
}

.ids-login__forgotpassword a, a:hover, a:active, a:visited, a:focus{
  color: #fff !important;
  display: none;
}

[data-page="ids-forgot_password/create"] .ids-main .ids-main__content .ids-container, 
[data-page="ids-registration/new"] .ids-main .ids-main__content .ids-container {
  background: rgba(0,0,0,0.70);
  padding: 30px 30px 0px 30px;
  text-align: center;
  border: 1px solid #a83a39;
}

[data-page="ids-forgot_password/create"] .ids-main .ids-main__content .ids-container .ids-heading-1 {
  position: static;
  display: none;
}

#ids-p {
  font-size: 13px;
}

.ids-required-marker {
  color: #003F6E;
}

@media only screen and (max-width: 600px) {

  body {
    padding-top: 50px;
	background-image: url(https://presalesaplab.github.io/MADE/Custom-IAS-homepage/made.jpg);
  
  }

  .ids-login-login--border {
    padding-left: 0;
  }

  .ids-login-login--border {
    padding-bottom: 0px;
  }

  .ids-heading-1--login{
    display: block;
  }

  .ids-input-group--user {
    padding-bottom: 18px;
  }

} 

@media only screen and (max-width: 991px) {
  button#test-submit-button, button#sapStoreRegisterFormSubmit {
    width: 100%;
    margin: 0;
    background: #003F6E;
  }
    body {
	background-image: url(https://presalesaplab.github.io/MADE/Custom-IAS-homepage/made.jpg);
  
  }
}  

@media only screen and (min-width: 600px) {

  body {
    padding-top: 90px;
  }

  .ids-login-container {
    width: 380px
  }

} 

@media only screen and (min-width: 768px) {
  body {
    padding-top: 90px;
  }
}

@media only screen and (min-width: 992px) {

  body {
    padding-top: 150px;
  }

  button#test-submit-button, button#sapStoreRegisterFormSubmit {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    float: none;
  }

} 
@media only screen and (min-width: 1200px) {
  body {
    padding-top: 180px;
  }
}