/* Avenir Next LT Pro */
@font-face {
  font-family: 'Avenir Next LT Pro';
  src:
    url('https://presalesaplab.github.io/MADE/AvenirNextLTPro/25381880192.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next LT Pro';
  src:
    url('https://presalesaplab.github.io/MADE/AvenirNextLTPro/25728576873.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next LT Pro';
  src:
    url('https://presalesaplab.github.io/MADE/AvenirNextLTPro/26301410506.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next LT Pro';
  src:
    url('https://presalesaplab.github.io/MADE/AvenirNextLTPro/27926215584.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next LT Pro';
  src:
    url('https://presalesaplab.github.io/MADE/AvenirNextLTPro/230716573843.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
